/vendor/
/node_modules/
# /.env (Removed to allow pushing)
/.env.backup
/.env.production
/storage/logs/*.log
/storage/app/public
*.sqlite
.DS_Store
Thumbs.db


# Laravel specific ignores
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
.phpunit.result.cache
/public/build/
/public/storage
/bootstrap/cache/*.php