/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/storage/logs/*.log
/storage/app/public
*.sqlite
.DS_Store
Thumbs.db
.env


# Laravel specific ignores
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
.phpunit.result.cache
/public/build/
/public/storage
/bootstrap/cache/*.php